.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 560px;
    width: 830px;
    margin: auto;
    cursor: pointer;
}

.card{
    position: relative;
    transform-style: preserve-3d;
    width: 130px;
    height: 180px;
    
}
.face{
    width: 130px;
    height: 180px;
    position: absolute;
    box-shadow: 1px 3px 4px 1px grey;
    background: url(porsche_911_200x300.jpg);
} 
.back{
    width: 130px;
    height: 180px;
    background: rgb(138, 104, 10);
    position: absolute;
    transform: translateZ(0.1px);
}

.rotate{
    animation: card 2s linear ;
}
@keyframes card {
  100% {
      transform:rotateY(360deg);
  }
}